:host {

}
::ng-deep {
  

    border-bottom: solid 1px white;
    .cabecera-padre{
      padding: 20px 28px;
      display: flex;
      align-items: center;
      
      .col-titulo {
        width: 77%;
        h2.titulo {
          color: #252f40;
          font-family: "Barlow";
          font-size: 24px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          margin-bottom: 4px;
        }

        p.subtitulo {
          color: #707070;
          font-family: "Barlow";
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.1px;
          margin: 0px;
        }
      }

      .col-controles {
        width: 8%;

        .ico-alertas{
          border-right: 1px solid white;
        }
      }

      .col-usuario {
        display: flex;
        justify-content: center;          
        font-family: "Barlow";
        border-radius: 8px;
        border: 1px solid #ebebeb;
        background: #fff;
        padding: 8px 16px;
        .usuario {
          display: flex;
          align-items: center;
          justify-content: center;
          .datos {
            .empresa {
              color: #252f40;
              font-family: "Barlow";
              font-size: 12px;
              font-style: normal;
              font-weight: 500;
              line-height: normal;
              margin-bottom: 0px;
              text-align: right;
            }

            .nombre {
              color: #707070;
              font-feature-settings: "clig" off, "liga" off;
              font-family: "Barlow";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              line-height: normal;
              margin-bottom: 0px;
              text-align: right;
            }

            p{
              margin: 0px;
              text-align: right;
            }
          }

          .avatar {
            width: 32px;
            height: 32px;
            margin-left: 8px;
          }
        }

        .selector {
          padding: 0px;
        }
      }
    }   
    }
    
