    <div class="cabecera-padre">

        <div class="col-titulo">
          <h2 class="titulo">{{ title }}</h2>
          <p class="subtitulo">{{ subtitle }}</p>
        </div>

        <div class="col-controles">
          <img src="assets/icons/icon-ajustes.svg" class="ico-ajustes"/>
          <img src="assets/icons/icon-alertas.svg" class="ico-alerta"/>
        </div>

        <div class="col-usuario">
          <div class="usuario">
            <div class="datos">
              <p class="empresa">{{ companyName }}</p>
              <p class="nombre">{{ employeeName }}</p>
            </div>
            <ion-avatar slot="start" class="avatar">
              <img [src]="employeeAvatar" />
            </ion-avatar>
          </div>
          <ion-select interface="popover" class="selector">
            <ion-select-option>Cerrar sesión</ion-select-option>
          </ion-select>
        </div>
    </div>
 
