.titulo {
  text-transform: capitalize;
}

.logo {
  height: 93px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px white;
  img {
  }
}

.lista-menu {
  padding: 0px 28px;
  .item-menu {
    a {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 12px 16px;
    }

    .icon {
      margin-right: 11px;
    }

    .titulo {
      margin: 12px 0px;
      span {
        color: #252f40;
        font-feature-settings: "clig" off, "liga" off;
        font-family: "Barlow";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        letter-spacing: 0.1px;
      }
    }
  }
}
